
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    /* min-height: 100vh; */
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
.body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 'navbar' 'main';
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin: 0;
    
}
/* @media screen and (max-width: 815px) {
    .body {
        grid-template-rows: 300px 1fr;
        grid-template-columns: 1fr;
    }
     #navbar {
        height: 100%;
    } 
} */
@media screen and (max-width: 815px) {
    .body {
        grid-template-rows: 300px 1fr;
        grid-template-columns: 1fr;
    }
     #navbar {
        max-height: 300px;
        max-width: auto;
    } 
}
#navbar {
    display: block;
    overflow: scroll;
    height: 100vh;
    grid-area: 'navbar';
    
    
}
.nav-header {
    text-align: center;
}
.nav-link {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid black;
    padding: 10px 20px;
}
.nav-link:last-child {
    border-bottom: 1px solid black;
}
.main {
    grid-area: 'main';
    padding: 0 40px;
}
code {
    display: block;
    background-color: #F7F7F7;
    padding: 20px 10px;
    margin: 0 20px;
    line-height: 20px;
}
.main-header {
    font-weight: 500;
    font-size: 26px;
    margin: 20px 0;
}




















