
*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
    display: flex;

    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 18px;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 300px;
    height: 100vh;
    overflow: scroll;
    border-right: 1px solid black;
}
.nav-header {
    text-align: center;
}
.nav-link {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid black;
    padding: 10px 20px;
}
.nav-link:last-child {
    border-bottom: 1px solid black;
}


.main {
    margin-left: 310px;
    padding: 0 1.8rem;
    font-size: 0.9rem;
}
code {
    display: block;
    background-color: #F7F7F7;
    padding: 20px 10px;
    margin: 0 20px;
    line-height: 20px;
}
.main-header {
    font-weight: 500;
    font-size: 26px;
    margin: 20px 0;
}

@media screen and (max-width: 820px) {
    .main {
        margin: 300px 10px 10px 10px;
    }
    #navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-height: 300px;
        
    }
}
@media screen and (max-width: 400px) {
    .main {
        padding: 10px 5px;
    }
    #navbar {

    }
    code {
        margin: 0;
        padding: 0;
    }
    ul {
        margin: 0 5px;
        padding: 5px;
    }
    
}

















